<ng-container *ngIf="isLoading; else pokemonDataContent">
    <p-progressSpinner></p-progressSpinner>
</ng-container>

<ng-template #pokemonDataContent>
    <ng-container *ngFor="let pokemon of pokemonData">
        <p-card header="Advanced Card" subheader="Card Subheader" [style]="{ width: '360px' }">
            <ng-template pTemplate="header">
                <img alt="Pokemon" [src]="pokemon.sprites.front_default" />
            </ng-template>
            <h2>Id:{{pokemon.id}}</h2>
            <h2>Name:{{pokemon.name}}</h2>
            <div *ngFor="let type of pokemon?.types">
                <h2>Type: {{type?.type?.name}}</h2>
            </div>
            <img [src]="pokemon.sprites.back_default" alt="Pokemon">
            <ng-template pTemplate="footer">
                <app-add-remove-favorite-pokemon [pokemonName]="pokemon.name" [isFavorite]="pokemon.isFavorite"
                    (pokemonFavoriteChanged)="onPokemonFavoriteChanged()">
                </app-add-remove-favorite-pokemon>

            </ng-template>
        </p-card>
    </ng-container>
</ng-template>

<div *ngIf="pokemonData.length === 0 && !isLoading">
    No Pokemon available
</div>