.pokemon-container {
    width: 100%;
    height: 100%;
}

.table-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.current-page-report {
    text-align: center;
    margin: 20px;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.disabled-paginator {
    pointer-events: none;
    opacity: 0.6;
}

::ng-deep {
    .p-datatable .p-datatable-tbody>tr {
        background-color: #3D7DCA;
        /* Pokemon Sapphire Blue */
        color: #FEFEFE;
        /* White */
        line-height: 1.5;
        /* Adjust to suit your needs */
        font-size: 1.2em;
        /* Adjust to make font larger */
    }

    .p-datatable .p-datatable-thead>tr {
        background-color: #FFCB05;
        /* Pokemon Yellow */
        color: #3B4CCA;
        /* Pokemon Sapphire Blue */
    }

    .p-datatable .p-datatable-thead>tr th {
        line-height: 1.5;
        /* Adjust to suit your needs */
        font-size: 1.2em;
        /* Adjust to make font larger */
        background-color: #DD3737;
        /* Pokemon Fire Red */
        color: #FEFEFE;
        /* White */
    }

    .p-datatable .p-datatable-tbody>tr:hover,
    .p-datatable .p-datatable-tbody>tr.p-highlight {
        background-color: #DD3737;
        /* Pokemon Yellow with lowered opacity */
    }

    .p-skeleton {
        background-color: #FEFEFE !important;
        /* Pokemon Leaf Green */
    }

    div.table-container p-table {
        width: 70% !important;
        min-width: 30rem !important;
    }
}