<div class="card flex justify-content-center">
    <p-button icon="pi pi-info" styleClass="p-button-rounded" (click)="getByName(pokemonName)"></p-button>

    <p-dialog header="Pokemon Details" [(visible)]="isOpen" [modal]="true" [style]="{ width: '50vw' }"
        [draggable]="false" [resizable]="false" class="pokemon-dialog">

        <ng-container *ngIf="isLoading; else pokemonDataContent">
            <div class="center-loading">
                <p-progressSpinner></p-progressSpinner>
            </div>
        </ng-container>


        <ng-template #pokemonDataContent>
            <div class="pokemon-data-content">
                <div class="pokemon-details">
                    <p><span class="pokemon-data-title">Id#:</span> <span
                            class="pokemon-data-value">{{pokemonData.id}}</span></p>
                    <p><span class="pokemon-data-title">Name:</span> <span
                            class="pokemon-data-value">{{pokemonData.name}}</span></p>
                    <p><span class="pokemon-data-title">Types:</span> <span
                            class="pokemon-data-value">{{pokemonTypesString}}</span></p>
                </div>
                <div class="pokemon-images">
                    <img [src]="pokemonData.sprites.front_default" alt="No image available">
                    <img [src]="pokemonData.sprites.back_default" alt="No image available">
                </div>
                <div class="favorite-button">
                    <app-add-remove-favorite-pokemon [pokemonName]="pokemonName" [isFavorite]="pokemonData.isFavorite"
                        (pokemonFavoriteChanged)="onPokemonFavoriteChanged()">
                    </app-add-remove-favorite-pokemon>
                </div>
            </div>
        </ng-template>


    </p-dialog>

</div>