<div class="card flex justify-content-center">
    <p-button icon="pi pi-info" styleClass="p-button-rounded" (click)="getByName(pokemonName)"></p-button>

    <p-dialog header="Pokemon Details" [(visible)]="isOpen" [modal]="true" [style]="{ width: '50vw' }"
        [draggable]="false" [resizable]="false" class="pokemon-dialog">

        <ng-container *ngIf="isLoading; else pokemonDataContent">
            <p-progressSpinner></p-progressSpinner>
        </ng-container>

        <ng-template #pokemonDataContent>
            <div class="pokemon-data-content">
                <div class="pokemon-details">
                    <p class="pokemon-data">Id#: {{pokemonData.id}}</p>
                    <p class="pokemon-data">Name: {{pokemonData.name}}</p>
                    <div *ngFor="let type of pokemonData?.types">
                        <p class="pokemon-data">Type: {{type?.type?.name}}</p>
                    </div>
                </div>
                <div class="pokemon-images">
                    <img [src]="pokemonData.sprites.front_default" alt="No image available">
                    <img [src]="pokemonData.sprites.back_default" alt="No image available">
                </div>
                <div class="favorite-button">
                    <app-add-remove-favorite-pokemon [pokemonName]="pokemonName" [isFavorite]="pokemonData.isFavorite"
                        (pokemonFavoriteChanged)="onPokemonFavoriteChanged()">
                    </app-add-remove-favorite-pokemon>
                </div>
            </div>
        </ng-template>


    </p-dialog>

</div>