/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

body {
    background-color: #3B4CCA !important;
    color: #fff;
}


body,
body .p-component {
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}