::ng-deep .p-menubar {
    background-color: #3B4CCA !important;
    /* Pokemon Sapphire Blue */
    color: #FEFEFE !important;
    /* Pokemon Yellow */
}

::ng-deep .p-menubar .p-menuitem-link {
    color: #FEFEFE !important;
    /* Pokemon Yellow */
}

::ng-deep .p-menubar .p-menuitem-text {
    color: #FEFEFE !important;
    /* Pokemon Yellow */
}

::ng-deep .p-menubar .p-menuitem-icon {
    color: #FEFEFE !important;
    /* Pokemon Yellow */
}

::ng-deep .p-menubar .p-menuitem-active {
    background-color: #3D7DCA !important;
    /* Pokemon Light Blue */
}

::ng-deep .p-menubar .p-menuitem-active .p-menuitem-link {
    color: #FEFEFE !important;
    /* White */
}

::ng-deep .p-menubar .p-menuitem-link:hover {
    background-color: #3D7DCA !important;
    /* Pokemon Light Blue */
    color: #FEFEFE !important;
    /* White */
}