::ng-deep .p-menubar {
    background-color: #3B4CCA !important;
    color: #FEFEFE !important;
}

::ng-deep .p-menubar .p-menuitem-link,
::ng-deep .p-menubar .p-menuitem-text,
::ng-deep .p-menubar .p-menuitem-icon {
    color: #FEFEFE !important;
}

::ng-deep .p-menubar .p-menuitem-active {
    background-color: #FFDE00 !important;
}

::ng-deep .p-menubar .p-menuitem-active .p-menuitem-link {
    color: #3B4CCA !important;
    background-color: #FFDE00 !important;
}

::ng-deep .p-menubar .p-menuitem-link:hover {
    background-color: #3D7DCA !important;
    color: #FEFEFE !important;
}